<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>How Healthy</title>
    <link rel="icon" href="/img/2.png" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- main css -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">


    <!-- modernizr -->
    <script src="/js/modernizr.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<a class="navbar-brand" href="/homepage">HH</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			

			<ul class="navbar-nav ml-md-auto">
				<form class="form-inline my-2 my-lg-0" action="/search" method="GET">
					<input class="form-control mr-sm-2" type="text" name="keyword" placeholder="輸入關鍵字搜尋文章">
					<button class="btn btn-primary2 my-2 my-sm-0" type="submit" style="margin: auto 10px auto 3px;">搜尋</button>
				</form>

				<form class="form-inline my-2 my-lg-0" action="/searchList" method="GET">
                    <input class="form-control mr-sm-2" type="text" name="keyword"  placeholder="輸入關鍵字搜尋好友">
					<button class="btn btn-primary2 my-2 my-sm-0" type="submit" style="margin: auto 10px auto 3px;">搜尋</button>
				</form>

				<li class="nav-item">
                    <a class="nav-link" href="/totPost">
						<i class="far fa-newspaper" style="font-size:30px;"></i>
					</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/joinActivity">
						<i class="material-icons icon-align" style="font-size:35px;">event</i>
					</a>
                </li>

				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bell" aria-hidden="true" style="font-size: 30px;"></i>
						<span class="badge badge-pill badge-dark"><%= results.count.total %></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 350px;">
                        <% for(var i=0; i<results.notice.length; i++) {%>     
                        <a class="dropdown-item" href="/postone/<%= results.notice[i].postno %>">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4" style="margin: 0;">
                                        <img src="/user/<%= results.notice[i].img %>" class="rounded-circle" style="margin-right:5%;"/>
                                    </div>
									<div class="col-md-8" style="float: right;">
										<dl>
											<dt><%= results.notice[i].displayname %></dt>
											<dd><%= results.notice[i].content %></dd>
										</dl>
									</div>
								</div>
							</div>
                        </a>
                        <% } %>
						<div class="dropdown-divider"></div> 
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
						<i class="fas fa-user-friends" aria-hidden="true" style="font-size: 30px;"></i>
						<span class="badge badge-pill badge-dark"><%= results.total.total %></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 350px;">
                        <% for(var i=0; i<results.invite.length; i++) {%>
                        <a class="dropdown-item" href="/friend_judge/<%= results.invite[i].memno %>">
							<div class="row">
								<div class="col-md-12">
									<img src="/user/<%= results.invite[i].img %>" class="rounded-circle" style="margin-right:5%;"/>
									<div class="col-md-8">
										<dl>
											<dt><%= results.invite[i].displayname %></dt>
											<dd>向您寄出了好友邀請</dd>
											<dd>
												<div id="button-block">
													<table>
														<tr>
															<td>
																<form action="/friend_add" method="post"  >
																	<input type="hidden" name="memno" value="<%= results.invite[i].memno %>">
																	<button id="confirm" class="btn btn-primary2">確認</button>
																</form>
															</td>
															<td>
																<form action="invite_delete" method="post" >
																	<input type="hidden" name="memno" value="<%= results.invite[i].memno %>">
																	<button id="delete" class="btn btn-primary2">刪除</button>
																</form>
															</td>
														</tr>
													</table>													
												</div>
											</dd>
										</dl>
									</div>
								</div>
							</div>
                        </a> 
                        <% } %>   
						<div class="dropdown-divider"></div> 
					</div>
				</li>

				<li class="nav-item">
                    <a class="nav-link" href="/personal_profile">
						<i class="fas fa-user" style="font-size:30px;"></i>
					</a>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
						<i class="fa fa-cogs" aria-hidden="true" style="font-size: 30px;"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 200px;">
						<a class="dropdown-item" href="#">
							<a href="/confirmPassword" title="設定" >
								<i class="fa fa-wrench" aria-hidden="true" style="font-size: 20px; margin-right: 5px;"></i>修改密碼
							</a>
						</a> 
						<div class="dropdown-divider"></div> 
						<a class="dropdown-item" href="#">
							<a href="/user/logout"><i class="material-icons icon-align">exit_to_app</i>登出</a>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
    <div class="container-fluid" style="margin-top: 70px;">          
        <div class="container container2">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-bar">
                            <h1><%= results.sa.sactivity %></h1>
                            <p><a href="/personal_profile"><%= results.sa.displayname %></a>
                        </div>
                        <div class="main-container">        
                            <div class="col-md-9"style="float: left;">
                                <table class="table table-act">
                                    <% var memno=results.invite.postmemno; %>
                                    <% if (memno == results.sa.memno){%>
                                    <a id="edit" href="/editAct/<%= results.sa.sactno %>" style="border: none; color: #404040; float: left; margin-right: 20px;">
                                         <i class="fas fa-pencil-alt" style="font-size: 16px; margin-right:3px;"></i>編輯活動內容
                                    </a>                                                           
                                    <a id="edit" href="/deleteAct/<%= results.sa.sactno %>" style="border: none; color: #404040; float: left;">
                                        <i class="fas fa-trash-alt" style="font-size: 16px; margin-right:3px;"></i>刪除活動
                                    </a>
                                    <% } %>
                                    <tr>
                                        <th>日期</th>
                                        <td><%= results.sa.sacttime %></td>
                                    </tr>
                                    <tr>
                                        <th>地點</th>
                                        <td><%= results.sa.location %></td>
                                    </tr>
                                    <tr>
                                        <th>詳細內容</th>
                                        <td>
                                            <textarea class="AutoHeight" readonly style="border: none; 
                                            height: 200px;
                                            width: 100%;
                                            display: block;
                                            overflow-x:hidden;                                        
                                            resize: none;"><%= results.sa.scontent %></textarea>
                                            <script type="text/javascript">   
                                                jQuery(function($) {  
                                                    $("textarea.AutoHeight").css("overflow","hidden").bind("keydown keyup", function(){  
                                                        $(this).height('0px').height($(this).prop("scrollHeight")+"px");  
                                                    }).keydown();  
                                                });  
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>平均評分</th>
                                        <td>
                                            <p><%= results.score.total %></p>
                                        </td>
                                    </tr>
                                </table>
                                                            
                            </div>                          
                            <div class="col-md-3" style="float: left;">
                                    <div class="h-10">
                                        <h6>為這個活動評分吧</h6>
                                        <div class="stars">
                                             <form action="/score_add" method="post">
                                                <input type="hidden" name="sactno" value="<%= results.sa.sactno %>"/>
                                                <input type="hidden" name="memno" value="<%= results.sa.memno %>"/>
                                                <input class="star star-5" id="star-5" type="radio"name="score" value="5"/>
                                                <label class="star star-5" for="star-5"></label>

                                                <input class="star star-4" id="star-4" type="radio"name="score" value="4"/>
                                                <label class="star star-4" for="star-4"></label>

                                                <input class="star star-3" id="star-3" type="radio"name="score" value="3">
                                                <label class="star star-3" for="star-3"></label>

                                                <input class="star star-2" id="star-2" type="radio"name="score" value="2"/>
                                                <label class="star star-2" for="star-2"></label>

                                                <input class="star star-1" id="star-1" type="radio"name="score" value="1"/>
                                                <label class="star star-1" for="star-1"></label>

                                                <button type="submit" class="btn btn-primary2">
                                                    送出
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                        </div>
                        <!-- end main-container -->
                    </div>
                </div>
            </div>
        </div>                            
    </div>                            
                        

        

        


    <!-- footer -->
	<footer style="margin-top: 0;">
		<div class="container-fluid">
			<p class="copyright">&copy; NTUB IMD  108506. All rights reserved.</p>
		</div>
	</footer>
	<!-- end footer -->
    
    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->




    <!-- jQuery -->
    <script src="/js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/animated-headline.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>


    <!--  custom script -->
    <script src="/js/custom.js"></script>

</body>

</html>