<!DOCTYPE html>
<html lang="en">
<head>
    <!--Basic-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>How Healthy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Load Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <!--<link href="css/personal-profile.css" rel="stylesheet">-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
	
    <link rel="shortcut icon" href="/img/2.png">

    <script src="/js/bootstrap-switch.min.js"></script>
    <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>

    <!-- include libraries(jQuery, bootstrap) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


    <link href="/css/test.css" rel="stylesheet">
    <link href="/css/test2.css" rel="stylesheet">
</head>

<body>
  <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<a class="navbar-brand" href="/homepage">HH</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			

			<ul class="navbar-nav ml-md-auto">
				<form class="form-inline my-2 my-lg-0" action="/search" method="GET">
					<input class="form-control mr-sm-2" type="text" name="keyword" placeholder="輸入關鍵字搜尋文章">
					<button class="btn btn-primary2 my-2 my-sm-0" type="submit" style="margin: auto 10px auto 3px;">搜尋</button>
				</form>

				<form class="form-inline my-2 my-lg-0" action="/searchList" method="GET">
                    <input class="form-control mr-sm-2" type="text" name="keyword"  placeholder="輸入關鍵字搜尋好友">
					<button class="btn btn-primary2 my-2 my-sm-0" type="submit" style="margin: auto 10px auto 3px;">搜尋</button>
				</form>

				<li class="nav-item">
                    <a class="nav-link" href="/totPost">
						<i class="far fa-newspaper" style="font-size:30px;"></i>
					</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/joinActivity">
						<i class="material-icons icon-align" style="font-size:35px;">event</i>
					</a>
                </li>

				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bell" aria-hidden="true" style="font-size: 30px;"></i>
						<span class="badge badge-pill badge-dark"><%= results.count.total %></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 350px;">
                        <% for(var i=0; i<results.notice.length; i++) {%>     
                        <a class="dropdown-item" href="/postone/<%= results.notice[i].postno %>">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4" style="margin: 0;">
                                        <img src="/user/<%= results.notice[i].img %>" class="rounded-circle" style="margin-right:5%;"/>
                                    </div>
									<div class="col-md-8" style="float: right;">
										<dl>
											<dt><%= results.notice[i].displayname %></dt>
											<dd><%= results.notice[i].content %></dd>
										</dl>
									</div>
								</div>
							</div>
                        </a>
                        <% } %>
						<div class="dropdown-divider"></div> 
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
						<i class="fas fa-user-friends" aria-hidden="true" style="font-size: 30px;"></i>
						<span class="badge badge-pill badge-dark"><%= results.total.total %></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 350px;">
                        <% for(var i=0; i<results.invite.length; i++) {%>
                        <a class="dropdown-item" href="/friend_judge/<%= results.invite[i].memno %>">
							<div class="row">
								<div class="col-md-12">
									<img src="/user/<%= results.invite[i].img %>" class="rounded-circle" style="margin-right:5%;"/>
									<div class="col-md-8">
										<dl>
											<dt><%= results.invite[i].displayname %></dt>
											<dd>向您寄出了好友邀請</dd>
											<dd>
												<div id="button-block">
													<table>
														<tr>
															<td>
																<form action="/friend_add" method="post"  >
																	<input type="hidden" name="memno" value="<%= results.invite[i].memno %>">
																	<button id="confirm" class="btn btn-primary2">確認</button>
																</form>
															</td>
															<td>
																<form action="invite_delete" method="post" >
																	<input type="hidden" name="memno" value="<%= results.invite[i].memno %>">
																	<button id="delete" class="btn btn-primary2">刪除</button>
																</form>
															</td>
														</tr>
													</table>													
												</div>
											</dd>
										</dl>
									</div>
								</div>
							</div>
                        </a> 
                        <% } %>   
						<div class="dropdown-divider"></div> 
					</div>
				</li>

				<li class="nav-item">
                    <a class="nav-link" href="/personal_profile">
						<i class="fas fa-user" style="font-size:30px;"></i>
					</a>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
						<i class="fa fa-cogs" aria-hidden="true" style="font-size: 30px;"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 200px;">
						<a class="dropdown-item" href="#">
							<a href="/confirmPassword" title="設定" >
								<i class="fa fa-wrench" aria-hidden="true" style="font-size: 20px; margin-right: 5px;"></i>修改密碼
							</a>
						</a> 
						<div class="dropdown-divider"></div> 
						<a class="dropdown-item" href="#">
							<a href="/user/logout"><i class="material-icons icon-align">exit_to_app</i>登出</a>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
  <!-- end nav -->
  
  <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar" class="sidebar-nav">
          <ul>
              <li style="padding-top: 25px;">
                  <div class="avatar-wrapper" style="margin:0 auto;">
                     <% if (null != results.member.img){%>
                      <img class="profile-pic img-circle img-user" src="/user/<%= results.member.img %>" style="margin:0 auto;" />
                      <% } %>
                      <% if (null ==  results.member.img){%>
                        <img src="/profile/avatar.svg" style="width: 200px; height:200px;">
                        <% } %>		
                  </div>
              </li>
              <li>
                  <div id="wrapper">
                      <section>
                          </br>
                          <center><a id="editBio" href="/editBio">編輯個人資料</a></center>
                          <h2 class="text-center hidden-xs user-name"><a href="/personal_profile" title="Profile"><%= results.member.displayname %></a></h2>
                          <!--
                          <div class="text-center" style="margin-bottom: 15px;">
                            <div class="points"><i class="material-icons">stars</i>20</div>
                          </div>
                          -->	
                          <p class="text-center user-description hidden-xs" style="margin-bottom: 8px;">
                            <i><%= results.member.introduction %></i>
                          </p>
                  
                          <div class="text-center" style="margin-bottom: 5px;">
                            <div class="points">
                                    <% if (null != results.member.birthday){%>
                                <p class="user-birthday"><i class="fas fa-birthday-cake" style="float: left; margin-right: 3px;"></i><%= results.member.birthday %></p>
                                <% } %>	
                            </div>
                            <p class="center">你已成功簽到<%= results.sign.date %>天</p>
                          </div>
                      </section>
                  </div>
              </li>
            <li>
                <form action="/signin_add" method="POST">
                    <div class="center">
                        <button class="btn btn-primary2" id="signIn" type="submit" style="font-size:15px;">
                          簽到
                        </button>
                    </div>
                </form>
            </li>
          </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
          <div class="content-posts profile-content">
              <div class="banner-profile"></div>
              <!-- Tab Panel -->
              <ul class="nav nav-tabs" role="tablist">
                  <li>
                      <button class="btn btn-link" type="button" id="sidebarCollapse">
                        <i class="fas fa-expand-arrows-alt"></i>
                        <!--<span>open/close</span>-->
                      </button>
                  </li>
                  <li class="active"><a href="#posts" role="tab" id="postsTab" data-toggle="tab" aria-controls="posts" aria-expanded="true">最近發文</a></li>
                  <li><a href="#friends" role="tab" id="friendsTab" data-toggle="tab" aria-controls="profile" aria-expanded="true">好友</a></li>
                  <li><a href="#activity" role="tab" id="activityTab" data-toggle="tab" aria-controls="profile" aria-expanded="true">活動</a></li>
                  <li><a href="#records" role="tab" id="recordsTab" data-toggle="tab" aria-controls="profile" aria-expanded="true">紀錄</a></li>
                  <!--<li><a href="#points" role="tab" id="pointsTab" data-toggle="tab" aria-controls="profile" aria-expanded="true">點數</a></li>-->
              </ul>
          
              <!--Start Tab Content-->
              <div class="tab-content">
                  <!-- Tab Posts -->
                  <div class="tab-pane fade active in" role="tabpanel" id="posts" aria-labelledby="postsTab">
                      <div id="posts-container" class="container-fluid container-posts">
                          <div class="card-post">
                              <div class="row">
                                  <div class="col-xs-9 col-sm-10 data-post">
                                      <div class="btnTags">
                                          <form action="/typePersonal" method="post">
                                            <button class="btnTag btn--stripe" name="posttypeno" value="1">運動</button>
                                            <button class="btnTag btn--stripe" name="posttypeno" value="2">休閒</button>
                                            <button class="btnTag btn--stripe" name="posttypeno" value="4">賽事分享</button>                                         
                                            <button class="btnTag btn--stripe" name="posttypeno" value="5">討論</button>                                        
                                          </form>
                                      </div>
                                      <div class="clear"></div>
                                  </div>
                              </div>
                          </div>

                          <div class="card-post">
                              <div class="row">
                                  <div class="col-xs-3 col-sm-2">
                                      <a href="/personal_profile" title="Profile">
										<% if (null != results.member.img){%>
										<img src="/user/<%= results.member.img %>" alt="My User" class="img-circle img-user" style="width: 100px; height:100px; margin-left: 35%;">
										<% } %>
										<% if (null == results.member.img){%>
										<img src="/profile/avatar.svg" style="width: 100px; height:100px;">
										<% } %>		
                                      </a>
                                  </div>
                                  <form action ="/post/add2" method="POST" enctype="multipart/form-data">
                                      <div class="col-xs-9 col-sm-10 data-post">			
                                          <div style="margin-bottom: 10px;">
                                              <table>
                                                  <tr>
                                                      <td><input placeholder="標題" type="text" class="postTitle" style="font-size: 20px;"  name="title"></td>
                                                      <td>
                                                          <div class="col-md-12">
                                                              <div class="col-md-6">
                                                                  <select type="text" class="postType" name="posttypeno">
																	<option value="1">運動</option>
																	<option value="2">休閒</option>
																	<option value="4">賽事分享</option>
																	<option value="5">討論</option>
                                                                  </select>
                                                              </div>
                                                          </div>
                                                      </td>
                                                  </tr>	
                                              </table>										
                                          </div>

                                          <div style="margin-right: 5%;">
                                              <div class="widget-post" aria-labelledby="post-header-title" >
                                                  <div class="widget-post__content" >
														<div id="textarea"  class="widget-post__textarea" style="font-size: 18px;" >
															<textarea name="content" id="post-content" class="widget-post__textarea scroller"style="margin-top: 10px;" maxlengh="200"></textarea>
															<img contenteditable="false" style="width:90%;" id="blah" />
														</div> 
												  </div>		
                                                
                                                  <div class="widget-post__actions post--actions">
                                                    <div class="post-actions__attachments">
                                                      <button type="button" class="btn post-actions__upload attachments--btn">
                                                        <label for="upload-image" class="post-actions__label">
                                                          <i class="fa fa-upload" aria-hidden="true"></i> 
                                                          <p>上傳圖片</p>
                                                        </label>
                                                      </button>
                                                      <input type="file" id="upload-image" accept="image/*" name="img" multiple>
                                                    </div>
                                                  </div>
                                              </div>
                                          </div>									  
                                      </div>
                                      <button type="submit" class="btn btn-primary2" style="margin-left: 48%; margin-top:10px;">送出</button>
                                  </form>	
                              </div>		
                          </div>
						  <% for(var i=0; i<results.msg.length; i++) {%>
						  <% var postno2 %>
						  <% var memno=results.member.memno; %>
                          <div class="card-post">
                              <div class="row">
                                  <div class="col-xs-3 col-sm-2">
                                      <a href="/friend_judge/<%= results.msg[i].memno %>" title="Profile">
										<% if (null != results.msg[i].postimg){%>
										<img src="/user/<%= results.msg[i].postimg %>" alt="My User" class="img-circle img-user" style="width: 100px; height:100px; margin-left: 35%;">
										<% } %>
										<% if (null == results.msg[i].postimg){%>
										<img src="/profile/avatar.svg" style="width: 100px; height:100px;">
										<% } %>	
                                      </a>
                                  </div>
                                  <div class="col-xs-9 col-sm-10 info-user">
                                      <div class="col-xs-2 col-sm-2"  style="position:absolute;right: 10px;">	
                                        <div class="btn-group">
                                            <button id="editBtn" type="button" style="border: none; background-color:transparent;" onclick="location.href='/editPost/<%= results.msg[i].postno %>'">
                                                <i class="fas fa-edit" style="font-size: 16px; color: #404040;"></i>
                                            </button>
                                            <button id="deleteBtn" style="border: none; background-color:transparent;" onclick="location.href='/deletePost/<%= results.msg[i].postno %>'">
                                            <!--<button id="deleteConfirm" title="刪除" style="border: none; background-color:transparent;">-->
                                                <i class="far fa-trash-alt" style="font-size: 16px; color: #404040;"></i>
                                            </button>
                                        </div>
                                      </div>
                                      
                                      <h3><a href="/friend_judge/<%= results.msg[i].memno %>" title="Profile"><%= results.msg[i].postname %></a></h3>
                                      <i><%= results.msg[i].posttime %></i>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class=" col-sm-8 col-sm-offset-2 data-post">									
                                      <div id="editor-content">
                                          <h2><%= results.msg[i].title %></h2>
                                          <textarea maxlengh="200" class="AutoHeight" readonly><%= results.msg[i].content %></textarea>
                                          <% if ( results.msg[i].img != null){%>
										  <img src="/post/<%= results.msg[i].img %>">
										  <% } %>	
                                      </div>
                                      <script type="text/javascript">   
                                        jQuery(function($) {  
                                            $("textarea.AutoHeight").css("overflow","hidden").bind("keydown keyup", function(){  
                                                $(this).height('0px').height($(this).prop("scrollHeight")+"px");  
                                            }).keydown();  
                                        });  
                                        </script>

                                      <div class="reaction">
                                          <div class="react" style="margin: 10px 0 0 10px;">
                                              <form style="float: left;" action="like_add2" method="post">
                                                <input type="hidden" name="postno" value="<%= results.msg[i].postno %>">
												<input type="hidden" name="memno" value="<%= results.msg[i].memno %>">
												<button class="liketest"><%= results.msg[i].cntlike %></button>
                                              </form>
                        
                                              <!--<div style="float: left;">&#x1F496;</div>
                                              <div class="cntLike" style="float: left;"> 1234</div>-->
                                              <div style="float: left; margin-left: 10px;">&#x1F4AC;</div>
                                              <div class="cntComment" style="float: left;"><%= results.msg[i].cntcomment %></div>
                                              <div class="clear"></div>
                                          </div>
                    
                                          <div class="btnTags" style="float: right;">
                                              <button class="btnTag btn--stripe"><%= results.msg[i].posttype %></button>
                                          </div>
                                          <div class="clear"></div>
                                      </div>
                                            
                                      <div class="comments">
										<form action="/comment/add2" method="post">
											<input type="hidden" name="postno" value="<%= results.msg[i].postno %>">
											<input type="hidden" name="memno" value="<%= results.msg[i].memno %>">
											<input type="text" name="msg" class="form-control" placeholder="回覆留言">
										</form>
										<% for(var t=0; t<results.comment.length; t++) {%>
										<% postno2=results.msg[i].postno;%>
										<% if (postno2 == results.comment[t].postno){%>	
										<div style="border-top: 1px solid #dadada;"></div>	
										<ul>
											<li><b><a href="/friend_judge/<%= results.comment[t].memno %>"><%= results.comment[t].comname %></a></b></li>
											<% if (memno == results.comment[t].memno){%>
											<div style="float:right;">
												<form action="/comment_delete2" method="POST">
													<input type="hidden" name="comno" value="<%= results.comment[t].comno %>">
													<button class="deleteBtn"  type="submit" >
														<i class="fa fa-trash" aria-hidden="true" style="color:black;"></i>
													</button>
												</form>
											</div>
											<% } %>										
											<div id="editor-comment">
												<%= results.comment[t].msg %>
											</div>
										</ul>
										<% } %><% } %>
                                      </div>
                                  </div>
                              </div>
						  </div>
						  <% } %>		
                      </div>
                  </div><!-- end Tab Posts -->

                  <!--Start Tab friends-->
                  <div class="tab-pane fade" role="tabpanel" id="friends" aria-labelledby="friendsTab">
                      <div class="container-fluid container-posts">
                          <div class="card-post">
                              <div class="scrollbar-container">
								  <% for(var i=0; i<results.rf.length; i++) {%>
                                  <div class="row row-user-list">
                                      <div class="col-sm-2 col-xs-3">
											<% if (null != results.rf[i].img){%>
											<img src="/user/<%= results.rf[i].img %>" alt="User name" class="rounded-circle" >
											<% } %>
											<% if (null == results.rf[i].img){%>
											<img src="/profile/avatar.svg" alt="User name" class="rounded-circle" >
											<% } %>
                                      </div>
                                      <div class="col-sm-7 col-xs-7">
                                          <p><b><a href="/friend_judge/<%= results.rf[i].memno %>"><%= results.rf[i].displayname %></a></b></p>
                                      </div>
                                      <div class="col-sm-3 col-xs-2">
                                          <button title="刪除" onclick="location.href='/deleteFriend/<%= results.rf[i].memno_2 %>'">
                                          <!--<button id="deleteFriend" title="刪除" style="border: none; background-color:transparent; float: right;">-->
                                              <i class="far fa-trash-alt" style="font-size: 16px; color: #404040;"></i>
                                          </button>
                                      </div>
								  </div>
								  <% } %> 
                                  <div class="clear"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end tab friends -->
            
                  <!--Start Tab activity-->
                  <div class="tab-pane fade" role="tabpanel" id="activity" aria-labelledby="activityTab">
                    <div class="container-fluid container-posts">
                      <div class="card-post">
                        <div class="scrollbar-container">
                          <div class="actContainer"> 
                            <input type="radio" id="all" name="color"/>
                            <label for="all">全部</label>
                            <input type="radio" id="spont" name="color" />
                            <label for="spont">自主活動</label>
                            <input type="radio" id="create" name="color"/>
                            <label for="create">你發起的活動</label>
                            <div class="clear"></div>

                            <div class="row row-user-list tile spont">
							  <% for(var i=0; i<results.sact.length; i++) {%>
                              <div class="col-xs-9">
                                <a href="/detailAct/<%= results.sact[i].sactno %>" style="font-size: 18px;"><b><%= results.sact[i].sactivity %></b></a>
                                <p style="font-size: 14px;">自主活動</p>
                              </div>
                              <div class="col-sm-0 col-xs-1"></div>
							  <div class="col-xs-2 col-sm-2"  style="right: 10px;">	
									<div class="btn-group">
										<button id="deleteBtn" style="border: none; background-color:transparent;" onclick="location.href='/quitAct/<%= results.sact[i].sactno %>'">
										<!--<button id="deleteConfirm" title="刪除" style="border: none; background-color:transparent;">-->
											<i class="far fa-trash-alt" style="font-size: 16px; color: #404040;"></i>
										</button>
									</div>
								</div>
							  <% } %> 
                            </div>

                            <div class="row row-user-list tile create">
							  <% for(var i=0; i<results.cact.length; i++) {%>
                              <div class="col-xs-9">
                                <a href="/detailAct/<%= results.cact[i].sactno %>" style="font-size: 18px;"><b><%= results.cact[i].sactivity %></b></a>
                                <p style="font-size: 14px;">自主活動</p>
                              </div>
                              <div class="col-xs-2 col-sm-2"  style="right: 10px;">	
									<div class="btn-group">
										<button id="editBtn" type="button" style="border: none; background-color:transparent;"onclick="javascript:location.href='/editAct/<%= results.cact[i].sactno %>'">
											<i class="fa fa-pencil-alt" style="font-size: 16px; color: #404040;"></i>
										</button>
										<button id="deleteBtn" style="border: none; background-color:transparent;"onclick="location.href='/deleteAct/<%= results.cact[i].sactno %>'">
										<!--<button id="deleteConfirm" title="刪除" style="border: none; background-color:transparent;">-->
											<i class="far fa-trash-alt" style="font-size: 16px; color: #404040;"></i>
										</button>
									</div>
								</div>
							  <% } %> 
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>	
                      </div>
                    </div>
                  </div>
                  <!-- end tab activity -->

                  <!--Start Tab records-->
                  <div class="tab-pane fade" role="tabpanel" id="records" aria-labelledby="recordsTab">
                    <div class="container-fluid container-posts">
                      <div class="card-post">
						<% for(var i=0; i<results.orbit.length; i++) {%>
                        <div class="col-md-6" >
                          <div class="col-md-12" style=" margin-bottom:5px;border: 1.5px dashed#ffbf00;">
                            <div class="col-md-12">
                              <ul class="recordTitle">
                                <li><i class="fas fa-walking"></i></li>
                                <li><div class="sportType"><%= results.orbit[i].otype %></div></li>
                              </ul>
                            </div>
							</br>
                            <div class="col-md-12 recordTime"><%= results.orbit[i].sportstarttime %></div>
							<div class="clear"></div>
							<div class="col-md-12">
								<div class="row">
									<div class="col">
										<div class="col-md-12 distanceData"><%= results.orbit[i].distance %></div>
										<div class="col-md-12 distance">km</div>
									</div>
									<div class="col">
										<div class="col-md-12 sportTime"><%= results.orbit[i].continuetime %></div>
									</div>
									<div class="col">
										<div class="col-md-12 speedData"><%= results.orbit[i].avgminkm %></div>
										<div class="col-md-12 speed">min/km</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
                          </div>
						</div>
						<% } %> 
                      </div>
                    </div>
                  </div>
                  <!-- end tab records -->
              </div><!-- Close Tab Content-->
          </div><!--Close content posts-->
      </div>
  </div>

    <!-- jQuery -->
	<script src="js/scripts.js" type="text/javascript"></script>
	<script src="js/uploadPic.js" type="text/javascript"></script>
	<script src="js/likeBtn.js" type="text/javascript"></script>
	<script src="js/editComment.js" type="text/javascript"></script>
	<script src="js/editPost.js" type="text/javascript"></script>
	<script src="js/deleteAct.js" type="text/javascript"></script>
	<script src="js/deletePost.js" type="text/javascript"></script>
	<script src="js/deleteComment.js" type="text/javascript"></script>
	<script src="js/deleteFriend.js" type="text/javascript"></script>

	<!--  plugins -->
	<script src="js/jquery-2.1.1.js"></script>    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
                
	<!--  custom script -->
	<script src="js/custom.js"></script>

	<!-- jQuery Custom Scroller CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#sidebar").mCustomScrollbar({
				theme: "minimal"
			});

			$('#sidebarCollapse').on('click', function () {
				$('#sidebar, #content').toggleClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			});
		});
	</script>
</body>
</html>