<!DOCTYPE html>
<html lang="en">
<head>
    <!--Basic-->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>How Healthy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Load Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/personal-profile.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
	<link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
	
	<link rel="shortcut icon" href="/img/2.png">

	<script src="/js/bootstrap-switch.min.js"></script>
    <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>

    <!-- include libraries(jQuery, bootstrap) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
</head>

<body>
    <div class="container-fluid" style="margin:0; padding:0;">
		<!-- nav -->
		<nav>
            <section id="aa-menu-area">
					<div id="navbar" class="navbar-collapse collapse  navbar-fixed-top justify-content-end">
							<div class="col-md-2">
								<ul id="top-menu" class="nav navbar-nav aa-main-nav">
									<!--<li class="active"><a href="index.html">HOME</a></li>-->
									<li class="dropdown nav-item">
										<div class="box-logo">
											<!--<a href="index.html"><img src="img/1.png" width="50" alt="Logo"></a>-->
											<a href="/homepage" class="logo">HH</a>
										</div>
									</li>
								</ul> 
							</div>
			
							<div class="col-md-10 right">
								<ul id="top-menu" class="nav navbar-nav aa-main-nav ml-auto">
									<li class="dropdown" >
										<a class="dropdown-toggle">
											<form class="form-inline" action="/search" method="GET">
												<input class="form-control mr-sm-2" type="text" name="keyword" placeholder="可輸入文章關鍵字搜尋"> 
												<button class="btn btn-primary2" type="submit">
													搜尋
												</button>
											</form>     
										</a>
									</li>
		
									<li class="dropdown" >
										<a class="dropdown-toggle">
											<form class="form-inline" action="/searchList" method="GET">
												<input class="form-control mr-sm-2" type="text" name="keyword" placeholder="可輸入關鍵字搜尋好友"> 
												<button class="btn btn-primary2" type="submit">
													搜尋
												</button>
											</form>     
										</a>
									</li>
										
									<li class="dropdown">
										<a class="dropdown-toggle" href="/totPost">
											<i class="far fa-newspaper" style="font-size:30px;"></i>
										</a>
									</li>  
		
									<li class="dropdown">
										<a class="dropdown-toggle" href="/joinActivity">
											<i class="material-icons icon-align" style="font-size:35px;">event</i>
										</a>
									</li>   
		
									<li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell" aria-hidden="true" style="font-size: 30px;"></i>
                                    <span class="badge"><%= results.count.total %></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">    
									<% for(var i=0; i<results.notice.length; i++) {%>      
                                    <li class="notific">
                                        <div class="media mb-4">
                                            <img class=" mr-3 rounded-circle" src="/user/<%= results.notice[i].img %>" alt="">
                                            <div class="media-body">
                                                <a href="/postone/<%= results.notice[i].postno %>"><h4 class="mt-0 name"><%= results.notice[i].displayname %></h4><p><%= results.notice[i].content %></p></a>
                                            </div>
                                        </div>
									</li>
									<% } %>                       
                                </ul>
                            </li>
								
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="fas fa-user-friends" aria-hidden="true" style="font-size: 30px;"></i>	
									<span class="badge"><%= results.total.total %></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<% for(var i=0; i<results.invite.length; i++) {%>
									<li class="notific2">
										<div class="media mb-4">
											<img class=" mr-3 rounded-circle" src="/user/<%= results.invite[i].img %>" alt="">
											<div class="media-body" >
												<h4 class="mt-0 name"><a href="/friend_judge/<%= results.invite[i].memno %>"><%= results.invite[i].displayname %></a></h4>
												<p>向您寄出了交友邀請</p>
											</div>
											<div class="media-body">
												<div id="button-block">
												 <table>
												  <tr>
												   <td>
													<form action="/friend_add" method="post" >
													 <input type="hidden" name="memno" value="<%= results.invite[i].memno %>">
													 <button id="confirm">確認</button>
													</form>
												   </td>
												   <td>
													<form action="invite_delete" method="post" >
													 <input type="hidden" name="memno" value="<%= results.invite[i].memno %>">
													 <button id="delete">刪除</button>
													</form>
												   </td>
												  </tr>
												 </table>             
												</div>
												<div class="clear"></div>
											   </div>
										</div>
									</li> 
									<% } %>           
								</ul>
							</li>		
									<li class="dropdown">
										<a class="dropdown-toggle" href="/personal_profile">
											<i class="fas fa-user" style="font-size:30px;"></i>
										</a>
									</li>  
		
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="fa fa-cogs" aria-hidden="true" style="font-size: 30px;"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownSettings">                
											<li>
												<a href="/confirmPassword" title="設定" data-toggle="modal" id="settingsmodal"> <!--data-target="#settingsmodal"-->
													<i class="fa fa-wrench" aria-hidden="true" style="font-size: 20px; margin-right: 5px;"></i>修改密碼
												</a>  
											</li>    
											<li><a href="/user/logout"><i class="material-icons icon-align">exit_to_app</i>登出</a></li>                                           
										</ul>
									</li>
								</ul>
							</div>
						</div><!--/.nav-collapse --> 
			</section>
		</nav>
        <!-- end nav -->

		<div class="sidebar-nav">
			<div class="avatar-wrapper" style="margin:0 auto;">
				<img class="profile-pic img-circle img-user" src="/user/<%= results.member.img %>"/>
			</div>		

			</br>
			<h2 class="text-center hidden-xs"><a href="profile-other.html" title="Profile"><%= results.member.displayname %></a></h2>
			<p class="text-center user-description hidden-xs">
				<i><%= results.member.introduction %></i>
			</p>
			<div class="center">
				<form action="/friend_invite" method="post">
				<input type="hidden" name="invitedmemno" value="<%= results.member.memno %>" >
				<button class="btn btn-primary2" type="submit" style="font-size:15px;">
					加好友
				</button>
				</form>
			</div>
			
		</div>




		<div class="content-posts profile-content">
			<div class="banner-profile"></div>
			<!-- Tab Panel -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#posts" role="tab" id="postsTab" data-toggle="tab" aria-controls="posts" aria-expanded="true">最近發文</a></li>
			</ul>
		
			<!--Start Tab Content-->
			<div class="tab-content">

				<!-- Tab Posts -->
				<div class="tab-pane fade active in" role="tabpanel" id="posts" aria-labelledby="postsTab">
					<div id="posts-container" class="container-fluid container-posts">
						<% for(var i=0; i<results.msg.length; i++) {%>
							<% var postno2 %>
							<% var memno=results.member.memno; %>
							<div class="card-post">
								<div class="row">
									<div class="col-xs-3 col-sm-2">
										<a href="/friend_judge/<%= results.msg[i].memno %>" title="Profile">
											<img src="/user/<%= results.msg[i].postimg %>" alt="My User" class="img-circle img-user">
										</a>
									</div>
									<div class="col-xs-9 col-sm-10 info-user">
										<h3><a href="/friend_judge/<%= results.msg[i].memno %>" title="Profile"><%= results.msg[i].postname %></a></h3>
										<p><i><%= results.msg[i].posttime %></i></p>
									</div>
								</div>
								
	
								
								<div class="row">
									<div class=" col-sm-8 col-sm-offset-2 data-post">
										<h2><%= results.msg[i].title %></h2>
										<p><%= results.msg[i].content %></p>
										<% if ( results.msg[i].img != null){%>
										<img src="/post/<%= results.msg[i].img %>">
										<% } %>
										
										<div class="reaction">
											<div class="react" style="margin: 10px 0 0 10px;">
												<form style="float: left;" action="like_add" method="post"> 
													<input type="hidden" name="postno" value="<%= results.msg[i].postno %>">
													<input type="hidden" name="memno" value="<%= results.msg[i].memno %>">
													<button class="liketest"><%= results.msg[i].cntlike %></button>
												</form>
	
												<!--<div style="float: left;">&#x1F496;</div>
												<div class="cntLike" style="float: left;"> 1234</div>-->
												<div style="float: left; margin-left: 10px;">&#x1F4AC;</div>
												<div class="cntComment" style="float: left;"><%= results.msg[i].cntcomment %></div>
												<div class="clear"></div>
											</div>
																						
											<div class="btnTags" style="float: right;">
												<button class="btnTag btn--stripe"><%= results.msg[i].posttype %></button>
											</div>
											<div class="clear"></div>
										</div>
	
										<div class="comments">		
											<form action="/comment/add" method="post">
												<input type="hidden" name="postno" value="<%= results.msg[i].postno %>">
												<input type="hidden" name="memno" value="<%= results.msg[i].memno %>">
												<input type="text" name="msg" class="form-control" placeholder="回覆留言">
											</form>
	
											<% for(var t=0; t<results.comment.length; t++) {%>
											<% postno2=results.msg[i].postno;%>
											<% if (postno2 == results.comment[t].postno){%>	
											<div style="border-top: 1px solid #dadada;"></div>	
											<ul>
												<li><b><a href="/friend_judge2/<%= results.comment[t].memno %>"><%= results.comment[t].comname %></a></b></li>											
												<div id="editor-comment">
													<%= results.comment[t].msg %>
												</div>
											</ul>
											<% } %><% } %>
										</div>
									</div>
								</div>
							</div>
							<% } %>
				</div><!-- end Tab Posts -->

				
	
			</div><!-- Close Tab Content-->
		
		</div><!--Close content posts-->





		
	</div>




	<!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; NTUB IMD  108506. All rights reserved.</p>
        </div>
    </footer>
    <!-- end footer -->

    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->
    
	<!-- jQuery -->
	<script src="/js/scripts.js" type="text/javascript"></script>

	<!--  plugins -->
	<script src="/js/bootstrap.min.js"></script>

	<!--  custom script -->
	<script src="/js/custom.js"></script>
	
</body>
</html>