<!DOCTYPE html>
<html lang="en">
<head>
    <!--Basic-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>How Healthy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Load Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <!--<link href="css/personal-profile.css" rel="stylesheet">-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="/img/2.png">

    <script src="/js/bootstrap-switch.min.js"></script>
    <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>

    <!-- include libraries(jQuery, bootstrap) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


    <link href="/css/test.css" rel="stylesheet">
    <link href="/css/test2.css" rel="stylesheet">
</head>

<body>
  <!-- nav -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
				<a class="navbar-brand" href="/homepage2">HH</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
						</li>
					</ul>
					
		
					<ul class="navbar-nav ml-md-auto">
						<form class="form-inline my-2 my-lg-0" action="/searchM" method="GET">
							<input class="form-control mr-sm-2" type="text" name="keyword" placeholder="輸入關鍵字搜尋文章">
							<button class="btn btn-primary2 my-2 my-sm-0" type="submit" style="margin: auto 10px auto 3px;">搜尋</button>
						</form>
		
						<form class="form-inline my-2 my-lg-0"  action="/searchList2" method="GET">
							<input class="form-control mr-sm-2" type="text" name="keyword"  placeholder="輸入關鍵字搜尋好友">
							<button class="btn btn-primary2 my-2 my-sm-0" type="submit" style="margin: auto 10px auto 3px;">搜尋</button>
						</form>
		
						<li class="nav-item">
							<a class="nav-link" href="/totPost2">
								<i class="far fa-newspaper" style="font-size:30px;"></i>
							</a>
						</li>
		
						<li class="nav-item">
							<a class="nav-link" href="/joinActivity2">
								<i class="material-icons icon-align" style="font-size:35px;">event</i>
							</a>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
								<i class="fa fa-cogs" aria-hidden="true" style="font-size: 30px;"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="width: 200px;">								
								<div class="dropdown-divider"></div> 
								<a class="dropdown-item" href="#">
									<a href="/user/logout"><i class="material-icons icon-align">exit_to_app</i>登出</a>
								</a>
							</div>
						</li>
					</ul>
				</div>
	</nav>
  <!-- end nav -->
  
  <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar" class="sidebar-nav">
		<ul>
			<li style="padding-top: 25px;">
				<div class="avatar-wrapper" style="margin:0 auto;">
					<img class="profile-pic img-circle img-user" src="/img/black.svg" style="margin:0 auto;" />
				</div>	
			</li>
			<li>
				<div id="wrapper">
					<section>
						</br>
						<section>
							<h2 class="text-center hidden-xs user-name" data-max-length="10"><%= results.manager.name %></h2>
						</section>
					</section>
				</div>
			</li>
		</ul>	  
      </nav>

      <!-- Page Content  -->
      <div id="content">
          <div class="content-posts profile-content">
              <div class="banner-profile"></div>
              <!-- Tab Panel -->
              <ul class="nav nav-tabs" role="tablist">
                  <li>
                      <button class="btn btn-link" type="button" id="sidebarCollapse">
                        <i class="fas fa-expand-arrows-alt"></i>
                        <!--<span>open/close</span>-->
                      </button>
                  </li>
              </ul>
          
              <!--Start Tab Content-->
              <div class="tab-content">
                  <!-- Tab Posts -->
                  <div class="tab-pane fade active in" role="tabpanel" id="posts" aria-labelledby="postsTab">
                      <div id="posts-container" class="container-fluid container-posts">
                          <div class="card-post">
                              <div class="row">
                                  <div class="col-xs-9 col-sm-10 data-post">
                                      <div class="btnTags">
                                          <form action="/typePost2" method="post">
                                            <button class="btnTag btn--stripe" name="posttypeno" value="1">運動</button>
                                            <button class="btnTag btn--stripe" name="posttypeno" value="2">休閒</button>
                                            <button class="btnTag btn--stripe" name="posttypeno" value="4">賽事分享</button>                                         
                                            <button class="btnTag btn--stripe" name="posttypeno" value="5">討論</button>                                        
                                          </form>
                                      </div>
                                      <div class="clear"></div>
                                  </div>
                              </div>
                          </div>
						  <% for(var i=0; i<results.posts.length; i++) {%>
						  <% var postno2 %>
                          <div class="card-post">
                              <div class="row">
                                  <div class="col-xs-3 col-sm-2">
                                      <a href="/personal_other2/<%= results.posts[i].memno %>" title="Profile">
										<% if (null != results.posts[i].postimg){%>
										<img src="/user/<%= results.posts[i].postimg %>" alt="My User" class="img-circle img-user" style="width: 100px; height:100px; margin-left: 35%;">
										<% } %>
										<% if (null == results.posts[i].postimg){%>
										<img src="/profile/avatar.svg" style="width: 100px; height:100px;">
										<% } %>	
                                      </a>
                                  </div>
                                  <div class="col-xs-9 col-sm-10 info-user">
									  <div class="col-xs-2 col-sm-2"  style="position:absolute;right: 10px;">
                                        <div class="btn-group">
                                            <button id="deleteBtn" style="border: none; background-color:transparent;" onclick="location.href='/deletePost/<%= results.posts[i].postno %>'">
                                            <!--<button id="deleteConfirm" title="刪除" style="border: none; background-color:transparent;">-->
                                                <i class="far fa-trash-alt" style="font-size: 16px; color: #404040;"></i>
                                            </button>
										</div>
                                      </div>
                                      
                                      <h3><a href="/personal_other2/<%= results.posts[i].memno %>" title="Profile"><%= results.posts[i].postname %></a></h3>
                                      <i><%= results.posts[i].posttime %></i>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class=" col-sm-8 col-sm-offset-2 data-post">									
                                      <div id="editor-content">
                                          <h2><%= results.posts[i].title %></h2>
                                          <p><%= results.posts[i].content %></p>
                                          <% if ( results.posts[i].img != null){%>
										  <img src="/post/<%= results.posts[i].img %>">
										  <% } %>	
                                      </div>

                                      <div class="reaction">
                                          <div class="react" style="margin: 10px 0 0 10px;">
                                              <form style="float: left;" >
												<button class="liketest"><%= results.posts[i].cntlike %></button>
                                              </form>
                        
                                              <!--<div style="float: left;">&#x1F496;</div>
                                              <div class="cntLike" style="float: left;"> 1234</div>-->
                                              <div style="float: left; margin-left: 10px;">&#x1F4AC;</div>
                                              <div class="cntComment" style="float: left;"><%= results.posts[i].cntcomment %></div>
                                              <div class="clear"></div>
                                          </div>
                    
                                          <div class="btnTags" style="float: right;">
                                              <button class="btnTag btn--stripe"><%= results.posts[i].posttype %></button>
                                          </div>
                                          <div class="clear"></div>
                                      </div>
                                            
                                      <div class="comments">
										<% for(var t=0; t<results.comment.length; t++) {%>
										<% postno2=results.posts[i].postno;%>
										<% if (postno2 == results.comment[t].postno){%>	
										<div style="border-top: 1px solid #dadada;"></div>	
										<ul>
											<li><b><a href="/friend_judge/<%= results.comment[t].memno %>"><%= results.comment[t].comname %></a></b></li>
											<div style="float:right;">
												<form action="/comment_delete3" method="POST">
													<input type="hidden" name="comno" value="<%= results.comment[t].comno %>">
													<button class="deleteBtn"  type="submit" >
														<i class="fa fa-trash" aria-hidden="true" style="color:black;"></i>
													</button>
												</form>
											</div>									
											<div id="editor-comment">
												<%= results.comment[t].msg %>
											</div>
										</ul>
										<% } %><% } %>
                                      </div>
                                  </div>
                              </div>
						  </div>
						  <% } %>		
                      </div>
                  </div><!-- end Tab Posts -->
              </div><!-- Close Tab Content-->
          </div><!--Close content posts-->
      </div>
  </div>

	<!-- jQuery -->
	<script src="js/scripts.js" type="text/javascript"></script>
	<script src="js/uploadPic.js" type="text/javascript"></script>
	<script src="js/likeBtn.js" type="text/javascript"></script>
	<script src="js/editComment.js" type="text/javascript"></script>
	<script src="js/editPost.js" type="text/javascript"></script>
	<script src="js/deleteAct.js" type="text/javascript"></script>
	<script src="js/deletePost.js" type="text/javascript"></script>
	<script src="js/deleteComment.js" type="text/javascript"></script>
	<script src="js/deleteFriend.js" type="text/javascript"></script>

	<!--  plugins -->
	<script src="js/jquery-2.1.1.js"></script>    
	<script src="js/bootstrap.min.js"></script>
	<script src="js/menu.js"></script>
				
	<!--  custom script -->
	<script src="js/custom.js"></script>

	<!-- jQuery Custom Scroller CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#sidebar").mCustomScrollbar({
				theme: "minimal"
			});

			$('#sidebarCollapse').on('click', function () {
				$('#sidebar, #content').toggleClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			});
		});
	</script>
</body>
</html>